/*External CSS to format the layout of my web site*/
#container {
    margin: 0 auto;
    width: 90%;
    background: CornSilk;
    border-style: solid;
    border-color: #9E9EAE;
}

#container p {
    font-family: Exo 2;
    font-size: 1.5em;
}

#header {
    background: CornSilk;
    padding: 5px;
}

#header h1 {
    margin: 0;
    color: DarkRed;
    font-size: 1em;
    text-align: right;
    font-family: Audiowide;
}

#header img {
    padding-left: 685px;
    padding-top: 18px;
    background-position: center;
}

#navigation {
    float: left;
    width: 100%;
    background: #9E9EAE;
}

#navigation ul {
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style: none;
    display: inline;
}

#navigation li a {
    display: block;
    float: left;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
    font-family: Audiowide;
    font-size: 1.5em;
}

#navigation li a:hover {
    background: Peru;
    color: #fff
}

.active {
    background: Peru;
    color: #fff
}

#content {
    clear: left;
    padding: 20px;
}

#content h2 {
    color: DarkRed;
    font-size: 2em;
    margin: 0 0 .5em;
    font-family: Audiowide;
}

#footer {
    background: #9E9EAE;
    text-align: center;
    padding-top: 20px;
    height: 2%;
    color: #fff;
    font-family: Audiowide;
    font-size: 1.22em;
    padding-bottom: 20px;
}

a:link {
    color: Peru;
    text-decoration: none;
}

a:active {
    color: #3366FF;
    text-decoration: none;
}

a:visited {
    color: #3366FF;
    text-decoration: none;
}

a:hover {
    color: #7A7ACC;
    text-decoration: none;
}

table, th, td {
    border-collapse: collapse;
    border: 3px solid #008F6B;
}

th {
    color: #008F6B;
}

td {
    padding: 5px;
    text-align: left;
    color: #008F6B;
}
